<!DOCTYPE html>
<html>
  <head>
    <title>User Orders</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="icon" type="image/jpg" href="/images/smallBU.PNG" />
    <link rel="stylesheet" href="/pages.css" />
  </head>
  <body>
    <div class="container">
      <div id="orders-container" class="row"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../js/ajax.js"></script>
  </body>
</html>
