  
  #EP-page-container {
    max-width: 600px;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    direction: rtl;
    text-align: right;
  }
  
#EP-page-h1 {
    color: #ce99ff;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
 #EP-page-p {
    margin-bottom: 10px;
  }
  
#EP-page-card {
    margin-top: 20px;
    border: none;
    box-shadow: 0 2px 4px #ce99ff;
  }
  
#EP-page-card-header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 18px;
    color: #333;
  }
  
#EP-page-card-body {
    padding: 20px;
  }
   
  .mt-4 {
    margin-top: 20px;
  }
  
 #EP-page-btn {
    background-color: #ce99ff;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
  }
  
  #EP-page-btn:hover {
    background-color: #6d379e;
  }