body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  canvas {
    display: block;
    margin: 20px auto;
    background-color: #000;
  }
  
#login-page-container {
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
  }

  #login-page-input{
    height: 50px;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    border: 1px solid#CACACA;
    padding: 0 15px; 
    outline: none;
    margin-top: 15px;
    position: relative;
  }

  #login-page-button{
    height: 50px;
    width: 60%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    background-color: #cdbbff;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 20%;
  }

  #login-page-button:hover{
    background-color: #9081ba;
}
  
#login-page-header {
    font-size: 28px;
    font-weight: 600;
    color: rgb(44, 44, 44);
    text-align: center
  }

#login-page-button-link {
    text-align: center;
    height: 30px;
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
  }
  
#login-page-button-link:hover {
    text-decoration: underline;
  }
  
















/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    direction :rtl;
}

#login-page-container{
    height: 100vh;
    width: 100%;
    background-color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.form{
    background: #FFF;
    border-radius: 6px;
    max-width: 430px;
    width: 100%;
    padding: 30px;
}

header{
    font-size: 28px;
    font-weight: 600;
    color: rgb(44, 44, 44);
    text-align: center
}

form{
    margin-top: 30px;
}

.form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
    border-radius: 6px;
}

.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    
}

.field input{
    border: 1px solid#CACACA;
    padding: 0 15px; 
    outline: none;
}

.field input:focus{
    border-bottom-width: 2px;
}

.eye-icon{
    font-size: 18px;
    color: #8b8b8b;
    position: absolute;
    top: 50%;
    right: 340px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
}

.form-link{
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: rgb(66, 66, 66);
}

.form a{
    text-decoration: none;
    color: #0171d3;
}

.form-content a:hover{
    text-decoration: underline;
}

.line{
    height: 1px;
    width: 100%;
    position: relative;
    background-color: #9e9e9e;
    margin: 36px 0;
}

.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #FFF;
    color: #232836;
    padding: 0 15px;
}

.field button{
    background-color: #cdbbff;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #9081ba;
}

.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook{
    background-color: #4267b2;
    color: #fff;
}

.a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    background-color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-line-canvas{
    background-color: #232836;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    width: 0.5px;
    height: 315px;
}

.password-container {
    position: relative;
  }
  
  .password-container input.password {
    padding-right: 40px;
    height: 50px;
  }
  
  .password-container .eye-icon {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
  }
   */