
#qa-accordions {
    margin: 20px auto;
    direction: rtl;
    width: 1000px;
    text-align: center;
}

h6 {
    margin-top: 20px;
    color: #333;
    direction: rtl;

}

.accordion-item {
    border-radius: 5px;
    margin-bottom: 0px;
    direction: rtl;
    border: 1px solid #ccc;
}

.accordion-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.toggle-button {
    margin-right: 10px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #333;
    outline: none;
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}

.accordion-content {
    display: none;
    text-align: right;
    margin-right: 45px;
    padding: 10px;
    background-color: #fff;
    direction: rtl;
}

.content-container {
    margin-top: 10px;
}

.content-row {
    margin-bottom: 5px;
}
  
  
  