body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  #signin-page-container {
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
  }

  #signin-page-input{
    height: 50px;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    border: 1px solid#CACACA;
    padding: 0 15px; 
    outline: none;
    margin-top: 15px;
    position: relative;
  }

  #signin-page-button{
    height: 50px;
    width: 60%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    background-color: #cdbbff;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 20%;
  }

  #signin-page-button:hover{
    background-color: #9081ba;
}

#signin-page-header {
    font-size: 28px;
    font-weight: 600;
    color: rgb(44, 44, 44);
    text-align: center
  }

  #signin-page-button-link {
    text-align: center;
    height: 30px;
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
  }
  
#signin-page-button-link:hover {
    text-decoration: underline;
  }

  canvas {
    display: block;
    margin: 20px auto;
    background-color: #000;
  }