<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <title>מדריך מידות - טבעות וצמידים</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    /* Custom CSS styles */
    body {
      background-color: #f8f8f8;
      color: #333;
      font-family: Arial, sans-serif;
      padding: 20px;
    }
    
    .size-guide {
      max-width: 1000px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
    }
    
    h2 {
      color: #b96dff;
      font-size: 24px;
      margin-bottom: 20px;
    }

    h5{
        text-decoration: underline
    }
    
    table.bracelets-table {
      width: 40%;
      
    }
    
    table.rings-table {
      width: 60%;
    }
    
    table th,
    table td {
      padding: 5px;
      text-align: center;
    }
    
    table th {
      background-color: #ce99ff;
      color: #fff;
    }
    
    table th.size,
    table th.centimeters {
      text-align: center;
    }
    
    table th.inner-diameter,
    table th.outer-circumference {
      text-align: center;
    }
    
  </style>
</head>
<body>
  <div class="container">
    <div class="size-guide">
      <div class="text-center">
        <h2>מדריך מידות לטבעות</h2>
      </div>
      <div class="explnation-sizes">
        <div class="text-right">
          <p>רוצה להזמין טבעת אבל לא יודעת מה המידה שלך?
            <br>אל דאגה! ישנן מספר שיטות לבדיקת מידת הטבעת שלך.</p>
          <p>
            <strong><u>שיטה 1 – מדידת גודל טבעת באמצעות אפליקציה ייעודית</u></strong>
            <br>מדידת גודל טבעת באמצעות אפליקציה ייעודית לנייד היא אפשרות פשוטה ונוחה.
            <br>על מנת לעשות את זה פשוט הוריד/י את האפליקציה המתאימה לטלפון הנייד שלך:
            <br><strong>קישור למכשירי אנדרואיד- קליק להורדה</strong>
            <br><a href="https://play.google.com/store/apps/details?id=ru.cherrydesign.ringsizer">ring sizer אנדרואיד</a>
          </p>
          <p>
            <strong>קישור למכשירי אייפון- קליק להורדה</strong>
            <br> <a href="https://apps.apple.com/il/app/id795721582">ring sizer אייפון</a>
            <br>
            <br>התקינ/י את האפליקציה, ופעל/י ע"פ ההוראות הבאות:
            <br>
            <br>1. הניח/י טבעת שיש ברשותך על מסך הטלפון.
            <br>2. התאימ/י את גודל העיגול שעל המסך לגודל הטבעת שלך.
            <br>3. המידה שתופיע על המסך, היא המידה שלך.
            <br>
          </p>
          <p>
            <strong><u>שיטה 4- מדידת היקף האצבע</u></strong>
            <br>(השיטה הכי פחות מדויקת והכי פחות מומלצת. רלוונטית בעיקר
            <br>כשאין ברשותך טבעת קיימת במידה שאת רוצה)
            <br><strong><br>מה צריך?</strong>
            <br>*סרט מדידה / סרגל
            <br>*פיסת נייר דקה
            <br>*עט או עיפרון
          </p>
          <p>
            <span style="font-size: 14px;"><strong>הוראות ביצוע:</strong>
              <br></span>
              <span style="font-size: 14px;">1. חותכים רצועה דקה של נייר – רצוי שתהיה ישרה ולא עבה מדי.<br></span>
              <span style="font-size: 14px;">2. עוטפים את רצועת הנייר סביב האצבע ומוודאים שהנייר נמצא מתחת לפרק האצבע וקרוב מספיק למפרק עצמו (החלק המחבר בין האצבע לכף היד).<br></span>
              <span style="font-size: 14px;">3. מסמנים את הנקודה שבה הנייר נפגש ומודדים את האורך שיצא לנו עם הסרגל / סרט מדידה.<br></span>
              <span style="font-size: 14px;">4. משתמשים בטבלה למטה כדי לבצע המרה של היקף הטבעת למידה שלה.</span>
            </p>
           
        </div>
      </div>
      <h5 class="text-right">טבלת המרה למידות טבעת :</h5>
      <table class="rings-table">
        <thead>
          <tr>
            <th class="size" scope="col">מידה ישראלית</th>
            <th class="size" scope="col">מידה אמריקאית</th>
            <th class="inner-diameter" scope="col">קוטר פנימי (ס"מ)</th>
            <th class="outer-circumference" scope="col">היקף חיצוני (ס"מ)</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td class="size">7</td>
            <td class="size">4</td>
            <td class="inner-diameter">14.88</td>
            <td class="outer-circumference">46.75</td>
          </tr>
          <tr>
            <td class="size">8</td>
            <td class="size">4.5</td>
            <td class="inner-diameter">15.3</td>
            <td class="outer-circumference">48</td>
          </tr>
          <tr>
            <td class="size">9</td>
            <td class="size">5</td>
            <td class="inner-diameter">15.7</td>
            <td class="outer-circumference">49.25</td>
          </tr>
          <tr>
            <td class="size">10</td>
            <td class="size">5.5</td>
            <td class="inner-diameter">16.1</td>
            <td class="outer-circumference">50</td>
          </tr>
          <tr>
            <td class="size">11</td>
            <td class="size">6</td>
            <td class="inner-diameter">16.51</td>
            <td class="outer-circumference">51.75</td>
          </tr>
          <tr>
            <td class="size">12</td>
            <td class="size">6.25</td>
            <td class="inner-diameter">16.71</td>
            <td class="outer-circumference">52.5</td>
          </tr>
          <tr>
            <td class="size">13</td>
            <td class="size">6.5</td>
            <td class="inner-diameter">16.92</td>
            <td class="outer-circumference">53.25</td>
          </tr>
          <tr>
            <td class="size">14</td>
            <td class="size">7</td>
            <td class="inner-diameter">17.32</td>
            <td class="outer-circumference">54.5</td>
          </tr>
          <tr>
            <td class="size">15</td>
            <td class="size">7.5</td>
            <td class="inner-diameter">17.73</td>
            <td class="outer-circumference">55.75</td>
          </tr>
          <tr>
            <td class="size">16</td>
            <td class="size">8</td>
            <td class="inner-diameter">18.14</td>
            <td class="outer-circumference">57</td>
          </tr>
          <tr>
            <td class="size">17</td>
            <td class="size">8.5</td>
            <td class="inner-diameter">18.54</td>
            <td class="outer-circumference">58.25</td>
          </tr>
          <tr>
            <td class="size">18</td>
            <td class="size">9</td>
            <td class="inner-diameter">18.95</td>
            <td class="outer-circumference">59.5</td>
          </tr>
          <tr>
            <td class="size">19</td>
            <td class="size">9.5</td>
            <td class="inner-diameter">19.35</td>
            <td class="outer-circumference">60.75</td>
          </tr>
          <tr>
            <td class="size">20</td>
            <td class="size">10</td>
            <td class="inner-diameter">19.76</td>
            <td class="outer-circumference">62</td>
          </tr>
          <tr>
            <td class="size">21</td>
            <td class="size">10.25</td>
            <td class="inner-diameter">19.96</td>
            <td class="outer-circumference">62.75</td>
          </tr>
          <tr>
            <td class="size">22</td>
            <td class="size">10.5</td>
            <td class="inner-diameter">20.17</td>
            <td class="outer-circumference">63.25</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
