* {
  direction: rtl;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  padding: 40px;
}

p {
  color: #565656;
}

.size-guide-header {
  color: #b96dff;
  font-size: 24px;
  margin-bottom: 20px;
}

.infoSG-item {
  font-size: 16px;
  margin-top: -10px;
}

.sg-method-title {
  color: #b96dff;
}

.sg-method-content {
  font-size: 16px;
}

.sg-link {
  margin-top: 40px;
  padding: 0px;
}

.sg-method-div {
  margin-bottom: 30px;
}

.sg-instructions {
  font-size: 14px;
}

.table {
  margin-top: 20px;
}

.size {
  text-align: center;
  font-size: 14px;
}

.inner-diameter,
.outer-circumference {
  text-align: center;
  font-size: 14px;
}

#sg-size-table{
  width: 40%;
}
