/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  #terms-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .terms-page-h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .terms-page-h2 {
    font-size: 24px;
    color: #000000e1;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration-line: underline;
    text-underline-position: below;
  }
  
  .terms-page-cp {
    font-size: 16px;
    color: #444;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify;
    position: relative;
    padding-right: 20px; 
  }
  
  .terms-page-cp::after {
    content: "•"; 
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.658); /* Adjust the color as per your preference */
  }
  
  