<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Socket.io Example</title>
    <link rel="stylesheet" href="socket.css" />
  </head>
  <body>
    <div id="container">
      <div id="messageContainer">
        <ul id="messageList"></ul>
      </div>
      <div>
        <button onclick="sendMessage()">שלח</button>
        <input type="text" style="direction: rtl" id="messageInput" placeholder="כתבו לנו ביקורת" />
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
      const socket = io('http://localhost:5000');

      function sendMessage() {
        const input = document.getElementById('messageInput');
        const message = input.value.trim();

        if (message !== '') {
          socket.emit('message', message);
          input.value = '';
        }
      }

      function displayMessage(message) {
        const messageList = document.getElementById('messageList');
        const listItem = document.createElement('li');
        listItem.id = 'message';
        listItem.textContent = message;
        messageList.appendChild(listItem);
      }

      socket.on('message', (data) => {
        displayMessage(data);
      });
    </script>
  </body>
</html>
